<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Journey of aliens</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<div id="app">

    <header class="wrapper">
        <h1>Stwórz własną historię...</h1>
        <h2>o podróży kosmitów!</h2>
        <img src="img/ufo.png" alt="ufo" />
    </header>

    <section class="contentForm wrapper">
        <h3>Uzupełnij poniższe pola:</h3>
        <label for="title"> Tytuł historii: <input v-model="title" id="title"/></label>
        <br><label for="planet"> Planeta: <input v-model="planet" id="planet"/></label>
        <br><label for="hostel"> Hostel: <input v-model="hostel" id="hostel"/></label>
        <br><label for="language"> Język: <input v-model="language" id="language"/></label>
        <br><label for="firstName"> Pierwsze imię: <input v-model="firstName" id="firstName"/></label>
        <br><label for="secondName"> Drugie imię: <input v-model="secondName" id="secondName"/></label>
        <br><label for="roomNumber"> Numer: <input v-model="roomNumber" id="roomNumber"/></label>
        <br><label for="neighborsHobby"> Pierwsze zajęcie: <input v-model="neighborsHobby" id="neighborsHobby"/></label>
        <br><label for="sightseeingMake"> Drugie zajęcie <input v-model="sightseeingMake" id="sightseeingMake"/></label>
        <br><label for="sightseeingPlace"> Pierwsze miejsce: <input v-model="sightseeingPlace" id="sightseeingPlace"/></label>
        <br><label for="dinnerPlace"> Drugie miejsce: <input v-model="dinnerPlace" id="dinnerPlace"/></label>
        <br><label for="souvenirsPlace"> Trzecie miejsce: <input v-model="souvenirsPlace" id="souvenirsPlace"/></label>
        <br><label for="friends"> Osoba: <input v-model="friends" id="friends"/></label>
        <br><label for="firstSouvenirs"> Pierwsza rzecz: <input v-model="firstSouvenirs" id="firstSouvenirs"/></label>
        <br><label for="secondSouvenirs"> Druga rzecz: <input v-model="secondSouvenirs" id="secondSouvenirs"/></label>
    </section>

    <section class="contentText wrapper">
        <h3>{{title}}</h3>
        <p>
            Pewnego słonecznego dnia na Ziemię przylecieli goście z <span>{{planet}}</span> , którzy zmęczeni długą podróżą postanowili zatrzymać się w najbliższym hostelu o nazwie <span>{{hostel}}</span>.
        </p>
        <p>
            Niestety obsługa nie znała <span>{{language}}</span>, więc <span>{{firstName}}</span> i <span>{{secondName}}</span> musieli porozumieć się z nimi na migi. Na szczęście jakoś się udało!
        </p>
        <p>
            W nocy było głośno, ponieważ ich sąsiedzi spod numeru <span>{{roomNumber}}</span> przez całą noc <span>{{neighborsHobby}}</span>.
        </p>
        <p>
            Następnego dnia <span>{{firstName}}</span> i <span>{{secondName}}</span> postanowili, że pora zwiedzić naszą planetę.
        </p>
        <p>
            Najpierw udali się do <span>{{sightseeingPlace}}</span>, gdzie <span>{{sightseeingMake}}</span> a następnie do <span>{{dinnerPlace}}</span> na obiad.
        </p>
        <p>
            Po obiedzie stwierdzili, że pora zakupić pamiątki dla <span>{{friends}}</span>. Wybrali się na <span>{{souvenirsPlace}}</span>, gdzie było wiele fantastycznych przedmiotów. Po długich poszukiwaniach <span>{{firstName}}</span> kupił <span>{{firstSouvenirs}}</span> a jego kompan <span>{{secondSouvenirs}}</span>.
        </p>
        <p>
            Zaczynało się ściemniać, więc wrócili do hostelu <span>{{hostel}}</span>.
        </p>
        <p>
            Następnego dnia wyruszyli w drogę powrotną do <span>{{planet}}</span>.
        </p>
    </section>

    <footer class="wrapper">
        <a href="https://github.com/sfait" target="_blank"><img src="img/github.png" alt="github"/></a>
    </footer>

</div>


<!--<script type="text/javascript">-->

    <!--new Vue({-->
        <!--data(){-->
            <!--return {-->
                <!--title: "",-->
                <!--planet: "",-->
                <!--hostel: "",-->
                <!--language: "",-->
                <!--firstName: "",-->
                <!--secondName: "",-->
                <!--roomNumber: "",-->
                <!--neighborsHobby: "",-->
                <!--sightseeingPlace: "",-->
                <!--sightseeingMake: "",-->
                <!--dinnerPlace: "",-->
                <!--friends: "",-->
                <!--souvenirsPlace: "",-->
                <!--firstSouvenirs: "",-->
                <!--secondSouvenirs: ""-->
            <!--}-->
        <!--}-->
    <!--}).$mount("#app");-->

<!--</script>-->

</body>
</html>
